<div style="width: 100%; height: 100%; background: #DBE7EC; justify-content: center;
          align-items: center; display: inline-flex">
  <app-toasts aria-live="polite" aria-atomic="true" class="checktoast"></app-toasts>
  <form [formGroup]="form" (ngSubmit)="DoLogin()">
    <div style="width: 539px; height: 88%; position: relative; margin-top: -40%;">
      <div style="padding: 15.91px; left: 60px; top: 0px; position: absolute; flex-direction: column;
                  justify-content: flex-start; align-items: flex-start; gap: 15.91px; display: inline-flex">
        <div>
          <img src="assets/img/SplashLogo.png" />
        </div>
      </div>
      <div style="padding: 177px 0px 0px 122px; position: absolute; color: #233138; font-size: 18px;
                  font-weight: 500; word-wrap: break-word">
        Set Your Password to Continue
      </div>
      <div style="padding: 143.91px 0px 0px 143px; position: absolute; color: #A17C43;
                  font-size: 24px; font-weight: 700; word-wrap: break-word">
        Hi, Welcome Back
      </div>
      <!-- <div class="form-floating mb-3" style="top:230px;">
        <input autoComplete="username" placeholder="Enter a valid email address" id="username"
          formControlName="username" name="UserName" class="form-control" autocomplete="off" placeholder="Username"
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors['required']">Username is required</div>
          <div *ngIf="f['username'].errors['minlength']">
            Username must be at least 6 characters
          </div>
          <div *ngIf="f['username'].errors['maxlength']">
            Username must not exceed 20 characters
          </div>
        </div>
        <label for="floatingInput" style="color:#727679;">Username</label>
      </div> -->
      <div class="form-floating mb-3" style="top:230px;">
        <input autoComplete="current-password" formControlName="newpassword" class="form-control"
          [type]="showpwd ? 'password' : 'text'" [ngClass]='PasswordClass'
          id="newpassword" name="newpassword" (keyup)='chackpattern(pw.value)' #pw />
        <!-- <i class="fa another-custom-class" [class.fa-eye]="!showpwd" [class.fa-eye-slash]="showpwd"
          (click)="onclicktoggle('showpwd')" style="position: absolute;left: 95%;top: 40%;"></i> -->

        <div *ngIf="f['newpassword'].errors" class="invalid-feedback">
          <!-- <div *ngIf="f['newpassword'].errors['required']">Password is required</div> -->
          <!-- <div *ngIf="f['newpassword'].errors['minlength']">
            Password must be at least 6 characters
          </div> -->
          <div *ngIf="!isvalid && f['newpassword'].touched">
            Password must contain at least one number, one uppercase and a lowercase letter
            and at least 8 characters<br>Password cannot contain whitespace
          </div>
        </div>
        <label for="newpassword" style="color:#727679;">New Password</label>
      </div>

      <div class="form-floating mb-3" style="top:230px;">
        <input autoComplete="current-password" formControlName="cnfnewpassword" class="form-control"
          [type]="showcnfpwd ? 'password' : 'text'"
          [ngClass]='confirmPasswordClass' id="cnfnewpassword"
          name="cnfnewpassword" #cpw (keyup)='checkPasswords(pw.value, cpw.value)' />
        <!-- <i class="fa another-custom-class" [class.fa-eye]="!showcnfpwd" [class.fa-eye-slash]="showcnfpwd"
          (click)="onclicktoggle('showcnfpwd')" style="position: absolute;left: 95%;top: 40%;"></i> -->

        <div *ngIf="f['cnfnewpassword'].invalid && (f['cnfnewpassword'].dirty || f['cnfnewpassword'].touched)"
          class="form-text text-danger">
          <div *ngIf='!passwordsMatching && isConfirmPasswordDirty'>
            Passwords did not match
          </div>
        </div>
        <label for="cnfnewpassword" style="color:#727679;">Confirm New Password</label>
      </div>

      <div class="d-grid mt-4" style="top:254px; position: relative;">
        <button class="btn-login" [disabled]="isLoading" (click)="DoLogin()"><i class="fa"
            [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}" style="color:white;"></i>
          {{button}}</button>
      </div>
    </div>
  </form>
</div>