<form class="example-form" [formGroup]='ProfileFormGroup'>
    <div class="wrapper" style="background: white;border-radius: 15px;">
        <div class="row ml-2 d-flex ">
            <div class="col-md-6 mt-3 d-flex">
                <a href="#" class="navbar-brand mt-2">
                    <img src="../../../../assets/img/icons/Rewards.svg" height="28" alt="CoolBrand">
                </a>
                <h2>Business Profile</h2>
            </div>
            <div class="col-md-6 text-right mt-3 pr-4" *ngIf="iseditmode">
                <button class="btn btn-danger cancel mt-2" (click)="Cancle()">
                    Cancel</button>
                <button class="btn btn-green viewRevorde mt-2 ml-2" target="_blank"
                    style="background: #6c4da9;color:white;">
                    <i class="bi bi-eye"></i> View Revords Page</button>
            </div>
        </div>
        <div class="col-md-12 ml-2" *ngIf="!iseditmode">
        </div>
        <div style="border-bottom: 1px solid #DADCDC;margin: 20px;"></div>
        <div class="col-lg-12" *ngIf="!iseditmode">
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Business Name</th>
                        <th scope="col">ShortName</th>
                        <th scope="col">Industry</th>
                        <th scope="col">City</th>
                        <th scope="col">PinCode</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let a of dataSource'>
                        <td>
                            <label>{{a.legalName}}</label> &nbsp;
                        </td>
                        <td>
                            <label>{{a.businessName}}</label>
                        </td>
                        <td>
                            <label>{{a.industry}}</label>
                        </td>
                        <td>
                            <label>{{a.city}}</label>
                        </td>
                        <td>
                            <label>{{a.pinCode}}</label>
                        </td>
                        <td>
                            <button (click)="Edit(a)" class="mr-2 editClass">Edit&nbsp;&nbsp;
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="iseditmode" style="margin: 20px;">
            <div class="wrapper">
                <div class="row" style="margin-bottom: 1%;">
                    <div class="col">
                        <label for="businessName">
                            Legal Name
                        </label>
                        <input id="businessName" class="form-control" formControlName="businessName" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && ProfileFormGroup.controls['businessName'].errors }">
                        <div *ngIf="submitted && ProfileFormGroup.controls['businessName'].errors"
                            class="invalid-feedback">
                            <div *ngIf="ProfileFormGroup.controls['businessName'].errors['required']">
                                Business Name is required
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <label for="shortName">
                            Display Name
                        </label>
                        <input id="shortName" class="form-control" formControlName="shortName" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && ProfileFormGroup.controls['shortName'].errors }">
                        <div *ngIf="submitted && ProfileFormGroup.controls['shortName'].errors"
                            class="invalid-feedback">
                            <div *ngIf="ProfileFormGroup.controls['shortName'].errors['required']">
                                Business Short Name is required
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <label for="phoneNo">
                            Phone No
                        </label>
                        <input id="phoneNo" class="form-control" formControlName="phoneNo" autocomplete="off"
                            (keypress)="numberOnly($event)" maxlength="10"
                            [ngClass]="{ 'is-invalid': submitted && ProfileFormGroup.controls['phoneNo'].errors }">
                        <div *ngIf="submitted && ProfileFormGroup.controls['phoneNo'].errors" class="invalid-feedback">
                            <div *ngIf="ProfileFormGroup.controls['phoneNo'].errors['required']">
                                Phone No is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 1%;">
                    <div class="col-md-4">
                        <label for="address">
                            Address
                        </label>
                        <input #search id="address" type="text" class="form-control" formControlName="address"
                            autocomplete="off" spellcheck="off" autocapitalize="off" autocorrect="off"
                            [ngClass]="{ 'is-invalid': submitted && ProfileFormGroup.controls['address'].errors }"
                            placeholder="Search location" (input)="initAutocomplete()" />

                        <div *ngIf="submitted && ProfileFormGroup.controls['address'].errors" class="invalid-feedback">
                            <div *ngIf="ProfileFormGroup.controls['address'].errors['required']">
                                Address is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="city">
                            City
                        </label>
                        <input id="city" class="form-control" formControlName="city" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && ProfileFormGroup.controls['city'].errors }">
                        <div *ngIf="submitted && ProfileFormGroup.controls['city'].errors" class="invalid-feedback">
                            <div *ngIf="ProfileFormGroup.controls['city'].errors['required']">
                                City is required
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label for="stateCodeId">
                            State
                        </label>
                        <ng-multiselect-dropdown [placeholder]="'Select State'" id="stateCodeId"
                            [settings]="dropdownSettingsSingleState" [data]="statesData" formControlName="stateCodeId">
                        </ng-multiselect-dropdown>
                        <div style="width:100%;" *ngIf="submitted && ProfileFormGroup.controls['stateCodeId'].errors"
                            class="invalid-feedback">
                            <div *ngIf="ProfileFormGroup.controls['stateCodeId'].errors['required']">
                                State is required
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label for="pinCode">
                            Zip Code
                        </label>
                        <input id="pinCode" class="form-control" formControlName="pinCode" autocomplete="off"
                            maxlength="6" (keypress)="numberOnly($event)"
                            [ngClass]="{ 'is-invalid': submitted && ProfileFormGroup.controls['pinCode'].errors }">
                        <div *ngIf="submitted && ProfileFormGroup.controls['pinCode'].errors" class="invalid-feedback">
                            <div *ngIf="ProfileFormGroup.controls['pinCode'].errors['required']">
                                Pincode is required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 1%;">
                    <div class="col-md-4">
                        <label for="exampleInputEmail1">
                            <b>Business Labels (Up to 5 only)</b>
                        </label>
                        <input [matChipInputFor]="chipGrid" type="text" class="form-control" placeholder="Select label"
                            formControlName="label" (input)="businessLabelOnChange()" autocomplete="off">
                        <div
                            *ngIf='ProfileFormGroup.controls["label"].value != undefined && ProfileFormGroup.controls["label"].value.length >= 2'>
                            <mat-list role="list" *ngFor="let label of filteredBusiness" [value]="label.id">
                                <mat-list-item role="listitem"
                                    (click)="selectBusiness(label.id)">{{label.name}}</mat-list-item>
                            </mat-list>
                        </div>
                        <div>
                            <mat-chip-grid #chipGrid>
                                <mat-chip-row *ngFor="let b of selectedBusiness">
                                    {{b.name}}
                                    <button matChipRemove>
                                        <mat-icon (click)="removeBusiness(b.id)">cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                            </mat-chip-grid>
                        </div>
                    </div>


                    <div class="col-md-8">
                        <label for="description">
                            Description
                        </label>
                        <textarea id="description" class="form-control" formControlName="description" autocomplete="off"
                            rows="2">
                        </textarea>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 1%;">
                    <div class="col-md-8" style="padding-right: 6px;">
                        <div class="col-md-12 d-flex pl-0 pr-0">
                            <div class="col pl-0">
                                <label for="website">
                                    Website Url
                                </label>
                                <input id="website" class="form-control" formControlName="website" autocomplete="off">
                            </div>

                            <div class="col" style="padding-right: 6px;">
                                <label for="facebookUrl">
                                    Facebook Url
                                </label>
                                <input id="facebookUrl" class="form-control" formControlName="facebookUrl"
                                    autocomplete="off">
                            </div>
                        </div>

                        <div class="col-md-12 d-flex pl-0 pr-0" style="margin-top: 1%;">
                            <div class="col pl-0">
                                <label for="twitterUrl">
                                    Twitter Url
                                </label>
                                <input id="twitterUrl" class="form-control" formControlName="twitterUrl"
                                    autocomplete="off">
                            </div>

                            <div class="col" style="padding-right: 6px;">
                                <label for="googleUrl">
                                    Google Url
                                </label>
                                <input id="googleUrl" class="form-control" formControlName="googleUrl"
                                    autocomplete="off">
                            </div>
                        </div>

                        <div class="col-md-12 d-flex pl-0 pr-0" style="margin-top: 1%;">
                            <div class="col pl-0">
                                <label for="instagramUrl">
                                    Instagram Url
                                </label>
                                <input id="instagramUrl" class="form-control" formControlName="instagramUrl"
                                    autocomplete="off">
                            </div>

                            <div class="col" style="padding-right: 6px;">
                                <label for="yelpUrl">
                                    Yelp Url
                                </label>
                                <input id="yelpUrl" class="form-control" formControlName="yelpUrl" autocomplete="off">
                            </div>
                        </div>

                        <div class="col-md-12 d-flex pl-0 pr-0" style="margin-top: 1%;">
                            <div class="col pl-0">
                                <div class="col-md-12" style="margin-left:0; padding-left: 0;">
                                    <label>Business Logo</label>
                                </div>
                                <div class="col-md-12">
                                    <input type="file" class="custom-file" id="businessLogo"
                                        (change)="onChangeBusinessLogo($event)">
                                    <label class="custom-file-label" for="businessLogo">
                                        Upload Image (Upto 1 MB)
                                    </label>
                                    <div style="width: 80%;background-color: #7DA3BA;height: 20%;margin-top: 1%;
                                        border-radius: 21px;font-size: 65%;" class="progress-bar" role="progressbar"
                                        [style.width]="uploadProgressBusinessLogo"
                                        aria-valuenow="uploadProgressBusinessLogo" aria-valuemin="0" aria-valuemax="100"
                                        *ngIf="filePathBusinessLogo != null && filePathBusinessLogo !=undefined">
                                        {{uploadProgressBusinessLogo}}
                                    </div>
                                </div>
                                <div class="col mt-2" *ngIf="filePathBusinessLogo != null" style="position: relative;">
                                    <img src="{{filePathBusinessLogo}}" height="70px" />
                                    <mat-icon class="cancel-upload" (click)="cancelUploadBusinessLogo()"
                                        *ngIf="uploadProgressBusinessLogo != undefined || (filePathBusinessLogo != null && filePathBusinessLogo !=undefined && filePathBusinessLogo != '')"
                                        style="color: black; overflow: inherit;position: absolute;margin-left: -4%;">
                                        cancel
                                    </mat-icon>
                                </div>
                            </div>

                            <div class="col" style="padding-right: 6px;">
                                <div class="col-md-12" style="margin-left:0; padding-left: 0;">
                                    <label>Display Image</label>
                                </div>
                                <div class="col-md-12">
                                    <input type="file" class="custom-file" id="businessDisplayImage"
                                        (change)="onChangeBusinessDisplayImage($event)">
                                    <label class="custom-file-label" for="businessDisplayImage">
                                        Upload Image (Upto 1 MB)
                                    </label>
                                    <div style="width: 80%;background-color: #7DA3BA;height: 20%;margin-top: 1%;
                                            border-radius: 21px;font-size: 65%;" class="progress-bar"
                                        role="progressbar" [style.width]="uploadProgressBusinessDisplayImage"
                                        aria-valuenow="uploadProgressBusinessDisplayImage" aria-valuemin="0"
                                        aria-valuemax="100"
                                        *ngIf="filePathBusinessDisplayImage != null && filePathBusinessDisplayImage !=undefined">
                                        {{uploadProgressBusinessDisplayImage}}
                                    </div>
                                </div>
                                <div class="col mt-2" *ngIf="filePathBusinessDisplayImage != null"
                                    style="position: relative;">
                                    <img src="{{filePathBusinessDisplayImage}}" height="70px" />
                                    <mat-icon class="cancel-upload" (click)="cancelUploadBusinessDisplayImage()"
                                        *ngIf="uploadProgressBusinessDisplayImage != undefined || (filePathBusinessDisplayImage != null && filePathBusinessDisplayImage !=undefined && filePathBusinessDisplayImage != '')"
                                        style="color: black; overflow: inherit;position: absolute;margin-left: -4%;">
                                        cancel
                                    </mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="padding-left: 6px;">
                        <div class="col-md-12" style="margin-left: 0;padding-left: 0;margin-right: 0;padding-right: 0;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-7">
                                        <label for="hours">
                                            Business Working Hours
                                        </label>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" [value]="ChkMakeDefaultTime"
                                                id="defaultTiming" (change)="onChangeDefaultTime()">
                                            <label class="form-check-label" for="defaultTiming">
                                                Same for All
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 p-0 text-center d-flex">
                                        <div class="col-md-1">
                                            <label><b>Mon</b></label>
                                        </div>

                                        <div class="col-md-6 pr-0 text-center d-flex">
                                            <div class="col-md-3"><label for="monFromTime">From: </label></div>
                                            <div class="col-md-9 pr-0">
                                                <input type="time" class="form-control" id="monFromTime"
                                                    formControlName="monFromTime">
                                            </div>
                                        </div>

                                        <div class="col-md-5 p-0 text-center d-flex">
                                            <div class="col-md-3 p-0"><label for="monTo">To: </label></div>
                                            <div class="col-md-9 p-0">
                                                <input type="time" class="form-control" id="monTo"
                                                    formControlName="monToTime">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12 p-0 text-center d-flex">
                                        <div class="col-md-1">
                                            <label><b>Tue</b></label>
                                        </div>

                                        <div class="col-md-6 pr-0 text-center d-flex">
                                            <div class="col-md-3"><label for="tueFrom">From: </label></div>
                                            <div class="col-md-9 pr-0">
                                                <input type="time" class="form-control" id="tueFrom"
                                                    formControlName="tueFromTime">
                                            </div>
                                        </div>

                                        <div class="col-md-5 p-0 text-center d-flex">
                                            <div class="col-md-3 p-0"><label for="tueTo">To: </label></div>
                                            <div class="col-md-9 p-0">
                                                <input type="time" class="form-control" id="tueTo"
                                                    formControlName="tueToTime">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12 p-0 text-center d-flex">
                                        <div class="col-md-1">
                                            <label><b>Wed</b></label>
                                        </div>

                                        <div class="col-md-6 pr-0 text-center d-flex">
                                            <div class="col-md-3"><label for="wedFrom">From: </label></div>
                                            <div class="col-md-9 pr-0">
                                                <input type="time" class="form-control" id="wedFrom"
                                                    formControlName="wedFromTime">
                                            </div>
                                        </div>

                                        <div class="col-md-5 p-0 text-center d-flex">
                                            <div class="col-md-3 p-0"><label for="wedTo">To: </label></div>
                                            <div class="col-md-9 p-0">
                                                <input type="time" class="form-control" id="wedTo"
                                                    formControlName="wedToTime">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-12 p-0 text-center d-flex">
                                        <div class="col-md-1">
                                            <label><b>Thu</b></label>
                                        </div>

                                        <div class="col-md-6 pr-0 text-center d-flex">
                                            <div class="col-md-3"><label for="thuFrom">From: </label></div>
                                            <div class="col-md-9 pr-0">
                                                <input type="time" class="form-control" id="thuFrom"
                                                    formControlName="thuFromTime">
                                            </div>
                                        </div>

                                        <div class="col-md-5 p-0 text-center d-flex">
                                            <div class="col-md-3 p-0"><label for="thuTo">To: </label></div>
                                            <div class="col-md-9 p-0">
                                                <input type="time" class="form-control" id="thuTo"
                                                    formControlName="thuToTime">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-12 p-0 text-center d-flex">
                                        <div class="col-md-1">
                                            <label><b>Fri</b></label>
                                        </div>

                                        <div class="col-md-6 pr-0 text-center d-flex">
                                            <div class="col-md-3"><label for="friFrom">From: </label></div>
                                            <div class="col-md-9 pr-0">
                                                <input type="time" class="form-control" id="friFrom"
                                                    formControlName="friFromTime">
                                            </div>
                                        </div>

                                        <div class="col-md-5 p-0 text-center d-flex">
                                            <div class="col-md-3 p-0"><label for="friTo">To: </label></div>
                                            <div class="col-md-9 p-0">
                                                <input type="time" class="form-control" id="friTo"
                                                    formControlName="friToTime">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-12 p-0 text-center d-flex">
                                        <div class="col-md-1">
                                            <label><b>Sat</b></label>
                                        </div>

                                        <div class="col-md-6 pr-0 text-center d-flex">
                                            <div class="col-md-3"><label for="satFrom">From: </label></div>
                                            <div class="col-md-9 pr-0">
                                                <input type="time" class="form-control" id="satFrom"
                                                    formControlName="satFromTime">
                                            </div>
                                        </div>

                                        <div class="col-md-5 p-0 text-center d-flex">
                                            <div class="col-md-3 p-0"><label for="satTo">To: </label></div>
                                            <div class="col-md-9 p-0">
                                                <input type="time" class="form-control" id="satTo"
                                                    formControlName="satToTime">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-12 p-0 text-center d-flex">
                                        <div class="col-md-1">
                                            <label><b>Sun</b></label>
                                        </div>

                                        <div class="col-md-6 pr-0 text-center d-flex">
                                            <div class="col-md-3"><label for="sunFrom">From: </label></div>
                                            <div class="col-md-9 pr-0">
                                                <input type="time" class="form-control" id="sunFrom"
                                                    formControlName="sunFromTime">
                                            </div>
                                        </div>

                                        <div class="col-md-5 p-0 text-center d-flex">
                                            <div class="col-md-3 p-0"><label for="sunTo">To: </label></div>
                                            <div class="col-md-9 p-0">
                                                <input type="time" class="form-control" id="sunTo"
                                                    formControlName="sunToTime">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 1%;">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="col-md-12" style="margin-left:0; padding-left: 0;">
                                    <label>Image 1</label>
                                </div>
                                <div class="col-md-12">
                                    <input type="file" class="custom-file" id="businessImage1"
                                        (change)="onChangeBusinessImage1($event)">
                                    <label class="custom-file-label" for="businessImage1">
                                        Upload Image (Upto 1 MB)
                                    </label>
                                    <div style="width: 80%;background-color: #7DA3BA;height: 20%;margin-top: 1%;
                                    border-radius: 21px;font-size: 65%;" class="progress-bar" role="progressbar"
                                        [style.width]="uploadProgressBusinessImage1"
                                        aria-valuenow="uploadProgressBusinessImage1" aria-valuemin="0"
                                        aria-valuemax="100"
                                        *ngIf="filePathBusinessImage1 != null && filePathBusinessImage1 !=undefined">
                                        {{uploadProgressBusinessImage1}}
                                    </div>
                                </div>
                                <div class="col" *ngIf="filePathBusinessImage1 != null" style="position: relative;">
                                    <img src="{{filePathBusinessImage1}}" height="70px" />
                                    <mat-icon class="cancel-upload" (click)="cancelUploadBusinessImage1()"
                                        *ngIf="uploadProgressBusinessImage1 != undefined || (filePathBusinessImage1 != null && filePathBusinessImage1 !=undefined && filePathBusinessImage1 != '')"
                                        style="color: black; overflow: inherit;position: absolute;margin-left: -4%;">
                                        cancel
                                    </mat-icon>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="col-md-12" style="margin-left:0; padding-left: 0;">
                                    <label>Image 2</label>
                                </div>
                                <div class="col-md-12">
                                    <input type="file" class="custom-file" id="businessImage2"
                                        (change)="onChangeBusinessImage2($event)">
                                    <label class="custom-file-label" for="businessImage2">
                                        Upload Image (Upto 1 MB)
                                    </label>
                                    <div style="width: 80%;background-color: #7DA3BA;height: 20%;margin-top: 1%;
                                    border-radius: 21px;font-size: 65%;" class="progress-bar" role="progressbar"
                                        [style.width]="uploadProgressBusinessImage2"
                                        aria-valuenow="uploadProgressBusinessImage2" aria-valuemin="0"
                                        aria-valuemax="100"
                                        *ngIf="filePathBusinessImage2 != null && filePathBusinessImage2 !=undefined">
                                        {{uploadProgressBusinessImage2}}
                                    </div>
                                </div>
                                <div class="col" *ngIf="filePathBusinessImage2 != null" style="position: relative;">
                                    <img src="{{filePathBusinessImage2}}" height="70px" />
                                    <mat-icon class="cancel-upload" (click)="cancelUploadBusinessImage2()"
                                        *ngIf="uploadProgressBusinessImage2 != undefined || (filePathBusinessImage2 != null && filePathBusinessImage2 !=undefined && filePathBusinessImage2 != '')"
                                        style="color: black; overflow: inherit;position: absolute;margin-left: -4%;">
                                        cancel
                                    </mat-icon>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="col-md-12" style="margin-left:0; padding-left: 0;">
                                    <label>Image 3</label>
                                </div>
                                <div class="col-md-12">
                                    <input type="file" class="custom-file" id="businessImage3"
                                        (change)="onChangeBusinessImage3($event)">
                                    <label class="custom-file-label" for="businessImage3">
                                        Upload Image (Upto 1 MB)
                                    </label>
                                    <div style="width: 80%;background-color: #7DA3BA;height: 20%;margin-top: 1%;
                                    border-radius: 21px;font-size: 65%;" class="progress-bar" role="progressbar"
                                        [style.width]="uploadProgressBusinessImage3"
                                        aria-valuenow="uploadProgressBusinessImage3" aria-valuemin="0"
                                        aria-valuemax="100"
                                        *ngIf="filePathBusinessImage3 != null && filePathBusinessImage3 !=undefined">
                                        {{uploadProgressBusinessImage3}}
                                    </div>
                                </div>
                                <div class="col" *ngIf="filePathBusinessImage3 != null" style="position: relative;">
                                    <img src="{{filePathBusinessImage3}}" height="70px" />
                                    <mat-icon class="cancel-upload" (click)="cancelUploadBusinessImage3()"
                                        *ngIf="uploadProgressBusinessImage3 != undefined || (filePathBusinessImage3 != null && filePathBusinessImage3 !=undefined && filePathBusinessImage3 != '')"
                                        style="color: black; overflow: inherit;position: absolute;margin-left: -4%;">
                                        cancel
                                    </mat-icon>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="col-md-12" style="margin-left:0; padding-left: 0;">
                                    <label>Image 4</label>
                                </div>
                                <div class="col-md-12">
                                    <input type="file" class="custom-file" id="businessImage4"
                                        (change)="onChangeBusinessImage4($event)">
                                    <label class="custom-file-label" for="businessImage4">
                                        Upload Image (Upto 1 MB)
                                    </label>
                                    <div style="width: 80%;background-color: #7DA3BA;height: 20%;margin-top: 1%;
                                    border-radius: 21px;font-size: 65%;" class="progress-bar" role="progressbar"
                                        [style.width]="uploadProgressBusinessImage4"
                                        aria-valuenow="uploadProgressBusinessImage4" aria-valuemin="0"
                                        aria-valuemax="100"
                                        *ngIf="filePathBusinessImage4 != null && filePathBusinessImage4 !=undefined">
                                        {{uploadProgressBusinessImage4}}
                                    </div>
                                </div>
                                <div class="col" *ngIf="filePathBusinessImage4 != null" style="position: relative;">
                                    <img src="{{filePathBusinessImage4}}" height="70px" />
                                    <mat-icon class="cancel-upload" (click)="cancelUploadBusinessImage4()"
                                        *ngIf="uploadProgressBusinessImage4 != undefined || (filePathBusinessImage4 != null && filePathBusinessImage4 !=undefined && filePathBusinessImage4 != '')"
                                        style="color: black; overflow: inherit;position: absolute;margin-left: -4%;">
                                        cancel
                                    </mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row"
                    style=" margin-bottom: 1%;display: flex;justify-content: center;align-items: center;width: 100%; ">
                    <div class="btn-container" style="width: 10%;padding-bottom: 15px;">
                        <button class="btn btn-success" type="submit" (click)="Submit()">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>