table {
    width: 100%;
  }
  
  .tableHeaderCellDiv {
    resize: horizontal;
    overflow: hidden;
    border: lightgray;
    vertical-align: middle;
  }
  
  .tabletd {
    border: lightgray;
  }
  
:host ::ng-deep .multiselect-dropdown {
  width: 100% !important;
  left: 0% !important;
}
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border-radius: 0px;
    height: 40px;
  }
  
  ::ng-deep .mdc-data-table__header-cell {
    color: #203139;
    font-size: 15px;
  }
  
  ::ng-deep .mdc-data-table__cell {
    font-size: 13px;
  }
  
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
  }
  
  :host ::ng-deep .dropdown-btn {
    padding: 9px 10px !important;
  }
  .phoneNum {
    font-weight: 400;
    font-size: 14px;
    color: darkgoldenrod;
  }
  
  .header-text {
    color: black;
    //font-weight: 500;
    font-size: 16px;
  }
  
  ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
    max-width: none !important;
  }
  
  .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-pad {
    padding: 10px 25px 10px 25px;
  }
  
  ::ng-deep .mat-sort-header-container {
    text-align: center;
    padding-left: 46px;
  }
  
  .mat-mdc-table {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .mat-mdc-table .mdc-data-table__header-row {
    background: #efefef;
  }
  .editClass {
    background: #7DA3BA;
    border: none;
    border-radius: 3px;
    color: white;
  }