<form [formGroup]="ActivityDashboardGroup">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body card-pad">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="col-md-1 text-center">
                                <img src="../../../assets/images/Activity/point1.png" style="width: 45px;">
                            </div>
                            <div class="col-md-7 text-center">
                                Points Earned
                            </div>
                            <div class="col-md-4 text-center"
                                style="font-size: 22px;font-weight: 500; cursor: pointer;text-align: center;"
                                (click)="common(6)" ngbTooltip="Total Points Earned by customers">
                                <span *ngIf="earned > 1000">{{earned | number: '3.0-5'}}</span>
                                <span *ngIf="earned <= 1000">{{earned}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body card-pad">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="col-md-1 text-center">
                                <img src="../../../assets/images/Activity/Redeem1.png" style="width: 45px;">
                            </div>
                            <div class="col-md-7 text-center">
                                Rewards Redeemed
                            </div>
                            <div class="col-md-4 text-center"
                                style="font-size: 22px;font-weight: 500; cursor: pointer;text-align: center;"
                                (click)="common(7)" ngbTooltip="Standard Rewards Redeemed by customers">
                                {{redeemed}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body card-pad">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="col-md-1 text-center">
                                <img src="../../../assets/images/Activity/imgap.png" style="width: 45px;">
                            </div>
                            <div class="col-md-7 text-center">
                                Autopilot Redeemed
                            </div>
                            <div class="col-md-4 text-center"
                                style="font-size: 22px;font-weight: 500; cursor: pointer;text-align: center;"
                                (click)="common(8)" ngbTooltip="AutoPilot Rewards Redeemed by customers">
                                {{apredeemed}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body card-pad">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="col-md-1 text-center">
                                <img src="../../../assets/images/Activity/imgpromo.png" style="width: 45px;">
                            </div>
                            <div class="col-md-7 text-center">
                                Promotion Redeemed
                            </div>
                            <div class="col-md-4 text-center"
                                style="font-size: 22px;font-weight: 500; cursor: pointer;text-align: center;"
                                (click)="common(9)" ngbTooltip="Promotional Rewards Redeemed by customers">
                                {{promoredeemed}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 1%;">
        <div class="col-md-3">
            <ng-multiselect-dropdown [placeholder]="'All Activity'" formControlName="activity" (onSelect)="common(0)"
                (onSelectAll)="common(0)" [settings]="dropdownSettingsSingle" [data]="activityType"
                (onDeSelect)="common(0)" (onDeSelectAll)="common(0)">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-md-3">
            <input type="button" class="btn ngx-daterangepicker-action" ngxDaterangepickerMd [autoApply]="true"
                style="background-color: #f5fbfe;border: 0px solid #dbe7ec;visibility: hidden;width: 1px;"
                [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges"
                [showRangeLabelOnInput]="true" (rangeClicked)="rangeClicked($event)" [linkedCalendars]="true"
                [showClearButton]="true" [keepCalendarOpeningWithRange]="true" (datesUpdated)="datesUpdated($event)"
                [locale]="{ applyLabel: 'Apply',format: 'MMM DD, YYYY',fromLabel: 'From',toLabel: 'To',
        daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        firstDay: 1}" />
            <button class="btn btn-outline-primary ngx-daterangepicker-action pickerStyle" type="button"
                (click)="open()" style="width: 94%;">
                <span class="ngx-daterangepicker-action" style="margin-right: 9px; color:#3380A4;">
                    {{selectedRange}}</span>
                <span class="ngx-daterangepicker-action" style="margin-right: 9px; color:#3380A4;">
                    {{selected.startDate |
                    date: 'MMM dd, yyyy'}}
                    - {{selected.endDate | date: 'MMM dd, yyyy'}}</span>
            </button>
        </div>
        <div class="col-md-3">
            <input class="form-control text-box" type="text" name="search" (keydown)="common(0)"
                formControlName="search" autocomplete="off"
                ngbTooltip="Search members by name,phone or tags (min 3 characters needed to search)"
                placeholder="Search customer by name,phone or tags ">
            <img src="../../../assets/img/Search.png"
                style="position: absolute;right: 8%;top: 19%;height: 20px;width: 20px;" />
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-10">
                    <ng-multiselect-dropdown placeholder="Choose business locations" (onSelect)="common(0)"
                        (onSelectAll)="onItemSelectAll($event)" formControlName="business" [settings]="dropdownSettings"
                        (onDeSelect)="common(0)" (onDeSelectAll)="onDeSelectAll($event)" [data]="bussinessData">
                    </ng-multiselect-dropdown>
                </div>
                <div class="col-md-2">
                    <button type="button" style="width: 100%;text-align: center;" class="btn btn-success"
                        (click)="exportexcel()">
                        <i class="fa fa-file-excel-o" style="text-align: center;margin-left: -6px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="tabl" style="display: none;">
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>

            <mat-table class="mat-elevation-z8" mat-table [dataSource]="dataSource"
                (matSortChange)="announceSortChange($event)" multiTemplateDataRows matSort>
                <ng-container matColumnDef="datetime">
                    <th style="width: 15%;" mat-header-cell class="custom-mat-header-styling tableHeaderCellDiv"
                        *matHeaderCellDef mat-sort-header sortActionDescription="Sort by datetime">
                        Date & Time
                    </th>
                    <td style="width: 15%;" mat-cell class="tabletd" *matCellDef="let element">
                        {{element.datetime | utcToLocalTime:'short'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="activityType">
                    <th style="width: 15%;" mat-header-cell class="custom-mat-header-styling tableHeaderCellDiv"
                        *matHeaderCellDef mat-sort-header>
                        Activity Type
                    </th>
                    <td mat-cell class="tabletd" *matCellDef="let element" style="width: 15%;"
                        [ngStyle]="{'color': (element.activityType=='Points Earned') ? '#13ce66' : (element.activityType=='Autopilot Redeemed') ? '#13ce66' : (element.activityType=='Promotion Redeemed') ? '#A17C43' : (element.activityType=='Rewards Redeemed') ? '#A17C43' : ''}">
                        <span>{{element.activityType}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="rewardName">
                    <th style="width: 20%;" mat-header-cell class="custom-mat-header-styling tableHeaderCellDiv"
                        *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rewardName">
                        Activity Details
                    </th>
                    <td mat-cell class="tabletd" *matCellDef="let element" style="width: 20%;">
                        <span style="color: #748596;">{{element.rewardName}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="timeDuration">
                    <th style="width: 5%;" mat-header-cell class="custom-mat-header-styling tableHeaderCellDiv"
                        *matHeaderCellDef mat-sort-header sortActionDescription="Sort by timeDuration">
                        Duration
                    </th>
                    <td mat-cell class="tabletd" *matCellDef="let element" style="width: 5%;text-align: center;">
                        <span style="color: #748596;">{{element.timeDuration}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="membername">
                    <th style="width: 20%;" mat-header-cell class="custom-mat-header-styling tableHeaderCellDiv"
                        *matHeaderCellDef mat-sort-header sortActionDescription="Sort by membername">
                        Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="tabletd" style="width: 20%;">
                        <div style="display: flex;">
                            <div>
                                <img src="../../../assets/img/empty-profile.png" />
                            </div>
                            <div style="color: #00a8e2;font-weight: bold;"> {{element.membername}}
                                <div>
                                    <span class="note">{{element.tagname}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th style="width: 10%;text-align: center;" mat-header-cell class="custom-mat-header-styling tableHeaderCellDiv"
                        *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone">
                        Phone
                    </th>
                    <td mat-cell class="tabletd" *matCellDef="let element" style="width: 10%;color:#13ce66;text-align: center;">
                        {{element.phone | phone}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="points">
                    <th style="width: 5%;text-align: center;" mat-header-cell class="custom-mat-header-styling tableHeaderCellDiv"
                        *matHeaderCellDef mat-sort-header sortActionDescription="Sort by points">
                        Points
                    </th>
                    <td style="width: 5%;text-align: center;" mat-cell class="tabletd" *matCellDef="let element"> {{element.points}}pt
                    </td>
                </ng-container>
                <tr mat-header-row class="tableHeaderCellDiv" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[50]" style-paginator showFirstLastButtons></mat-paginator>
            <div *ngIf="isLoading" class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</form>