<table class="table table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th scope="col" style="width: 5%;">Index</th>
            <th scope="col" style="width: 60%;">Arc Name</th>
            <th scope="col" style="width: 15%;">Probability</th>
            <th scope="col" style="width: 15%;">IsPoints</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let option of option$| async; let i=index">
            <td style="width: 5%;">{{i + 1}}</td>
            <td style="width: 60%;">
                <div style="display: flex;">
                    <input class="form-control" type="text" [(ngModel)]="option.arctext" maxlength="15"
                        (keyup)="onEventLog('arcText',$event,i)"  (keypress)="numberOnly($event,option.IsPoints)" />
                    <p style="float:right;color: green;font-weight: 600;"> {{indexwiseCharacters[i].length}} </p>
                </div>
            </td>

            <td style="width: 15%;">
                <input class="form-control" type="text" [(ngModel)]="option.probability"
                    (change)="onEventLog('probability',$event,i)" />
            </td>
            <td style="width: 10%;">
                <input type="checkbox" [(ngModel)]="option.IsPoints" (change)="onEventLog('IsPoints',$event,i)" [ngModelOptions]="{standalone: true}">
            </td>
        </tr>
        <tr>
            <td style="width: 5%;"></td>
            <td style="width: 60%;">
        
            </td>

            <td style="width: 15%;">
                <input type="text" [ngModel]="totalPoints" readonly>
            </td>
            <td style="width: 10%;">
                
            </td>
        </tr>
    </tbody>
</table>