<div class="wrapper" style="background: #DBE7EC;height:1000px">
    <div class="row p-0">

        <div class="col-md-12 text-center">
            
                <a href="#" class="navbar-brand mt-2 ml-3">
                    <img src="assets/img/SplashLogo.png" height="56" alt="CoolBrand">
                </a>
         
        </div>
    </div>
    <div class="row p-3">

        <div class="col-md-6 p-3 text-center">
            <img src="../../../../assets/iphone.png" width="300" height="500">
        </div>
        <div class="col-md-6">
            <p>ONE STOP CUSTOMER LOYALTY PROGRAM TURN VISITORS INTO HAPPY, LOYAL CUSTOMERS BY DIGITIZING YOUR BUSINESS’ REWARDS
                PROGRAM!
            </p>
            <div class="row d-flex">
                <div class="col-md-12 d-flex">
                    <a href="https://play.google.com/store/apps/details?id=com.revordsMobile.app&hl=en_IN&gl=US">
                        <img src="../../../../assets/android.png" height="50">
                    </a>
                    <a class="ml-4" href="https://apps.apple.com/in/app/revord/id6474188184">
                        <img src="../../../../assets/apple.png" height="50">
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>