<div id="wheelOfFortune">
    <div>
        <div>
            <div class="container glowing" #wheel id="wheel" *ngIf="sectors">
                <div class="one">
                    <span style="position: absolute;background: #C8D92B;width: 100%;height: 31%;top: 0%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; ">
                    </span>
                    <span style="position: absolute;background: #EFFF57;width: 100%;height: 28%;top: 26%;border-radius: 70%;
                    display: flex;justify-content: center;align-items: end;">
                        <p style="color: #403d3d;font-weight: 800;font-size: 14px; text-transform: uppercase; width: 50%;">
                            {{sectors[0].arctext}}
                        </p>
                    </span>
                    <span style="position: absolute;background: #FFEDA4;width: 100%; height: 28%;top: 56%;">
                    </span>
                </div>
                <div class="two">
                    <span style="position: absolute;background: #A51E1E;width: 100%;height: 31%;top: 0%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
                    </span>
                    <span style="position: absolute;background: #FCA1A1;width: 100%;height: 28%;top: 26%;border-radius: 70%;
                    display: flex;justify-content: center;align-items: end;">
                        <p style="color: #403d3d;font-weight: 800;font-size: 14px; text-transform: uppercase; width: 50%;">
                            {{sectors[7].arctext}}
                        </p>
                    </span>
                    <span style="position: absolute;background: #F8D0D0;width: 100%;height: 28%;top: 56%;">
                    </span>
                </div>
                <div class="three">
                    <span style="position: absolute;background: #3397F1;width: 100%;height: 31%;top: 0%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
                    </span>
                    <span style="position: absolute;background: #95CDFF;width: 100%;height: 28%;top: 26%;border-radius: 70%;
                    display: flex;justify-content: center;align-items: end;">
                        <p style="color: #403d3d;font-weight: 800;font-size: 14px; text-transform: uppercase; width: 50%;">
                            {{sectors[6].arctext}}
                        </p>
                    </span>
                    <span style="position: absolute;background: #C3E3FF;width: 100%;height: 28%;top: 56%;">
                    </span>
                </div>
                <div class="four">
                    <span style="position: absolute;background: #595BFA;width: 100%;height: 31%;top: 0%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
                    </span>
                    <span style="position: absolute;background: #9394FF;width: 100%;height: 28%;top: 26%;border-radius: 70%;
                        display: flex;justify-content: center;align-items: end;">
                        <p style="color: #403d3d;font-weight: 800;font-size: 14px; text-transform: uppercase; width: 50%;">
                            {{sectors[5].arctext}}
                        </p>
                    </span>
                    <span style="position: absolute;background: #BABBFF;width: 100%;height: 28%;top: 56%;">
                    </span>
                </div>
                <div class="five">
                    <span style="position: absolute;background: #FFA9E9;width: 100%;height: 31%;top: 0%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
                    </span>
                    <span style="position: absolute;background: #FFC9F1;width: 100%;height: 28%;top: 26%;border-radius: 70%;
                      display: flex;justify-content: center;align-items: end;">
                        <p style="color: #403d3d;font-weight: 800;font-size: 14px; text-transform: uppercase; width: 50%;">
                            {{sectors[4].arctext}}
                        </p>
                    </span>
                    <span style="position: absolute;background: #FFE0F7;width: 100%;height: 28%;top: 56%;">
                    </span>
                </div>
                <div class="six">
                    <span style="position: absolute;background: #F1592B;width: 100%;height: 31%;top: 0%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
                    </span>
                    <span style="position: absolute;background: #FF906F;width: 100%;height: 28%;top: 26%;border-radius: 70%;
                        display: flex;justify-content: center;align-items: end;">
                        <p style="color: #403d3d;font-weight: 800;font-size: 14px; text-transform: uppercase; width: 50%;">
                            {{sectors[3].arctext}}
                        </p>
                    </span>
                    <span style="position: absolute;background: #FFB7A1;width: 100%;height: 28%;top: 56%;">
                    </span>
                </div>
                <div class="seven">
                    <span style="position: absolute;background: #F59130;width: 100%;height: 31%;top: 0%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
                    </span>
                    <span style="position: absolute;background: #FFB56D;width: 100%;height: 28%;top: 26%;border-radius: 70%;display: flex;
                    justify-content: center;align-items: end;">
                        <p style="color: #403d3d;font-weight: 800;font-size: 14px; text-transform: uppercase; width: 50%;">
                            {{sectors[2].arctext}}
                        </p>
                    </span>
                    <span style="position: absolute;background: #FFCD9C;width: 100%;height: 28%;top: 56%;">
                    </span>
                </div>
                <div class="eight">
                    <span style="position: absolute;background: #FDD843;width: 100%;height: 31%;top: 0%;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">
                    </span>
                    <span style="position: absolute;background: #FFE57A;width: 100%;height: 28%;top: 26%;border-radius: 70%;
                        display: flex;justify-content: center;align-items: end;">
                        <p style="color: #403d3d;font-weight: 800;font-size: 14px; text-transform: uppercase; width: 50%;">
                            {{sectors[1].arctext}}
                        </p>
                    </span>
                    <span style="position: absolute;background: #FFEDA4;width: 100%;height: 28%;top: 56%;">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>